.wallets-list-block {
  display: inline-block;
  width: 40%;
  margin-right: 7%;
  vertical-align: top;
}

.transactions-history-block {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
