<div class="send-coins-container">
  <form class="send-form">

    <mat-form-field class="full-width send-form-input">
      <mat-select placeholder="From" #from>
        <mat-option *ngFor="let wallet of wallets" [value]="wallet.publicKey">
          {{wallet.name}} {{wallet?.publicKey | slice:0:10}} {{wallet?.balance}}KZC
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width send-form-input">
      <input matInput placeholder="To" #to>
      <mat-hint align="start"><strong>Recipient publicKey</strong> </mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width send-form-input">
      <input matInput placeholder="Amount" #amount type="number">
    </mat-form-field>

    <button mat-raised-button class='send-button' (click)="onTransactionSubmit(from.value, to.value, amount.value)">
      Send

      <mat-spinner *ngIf="sending" [diameter]="15"></mat-spinner>
    </button>

  </form>
</div>
